@import "./assets/checkbox.css";

/* Components */

.navbar {
  background-color: var(--accent-color1);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  min-width: 100%;
}

.navbar .navlink {
  color: rebeccapurple;
  text-decoration: none;
  font-family: Monoton;
  font-size: smaller;
  text-align: center;
  margin: auto;
  color: var(--fg-color);
}

.main-box {
  background-color: var(--bg-color);
}

.view-box {
  background-color: var(--fg-color);
  width: 42%;
  margin: 3vh auto;
  min-width: 300px;
  border-radius: 30px;
  min-height: 15em;
  aspect-ratio: 6/8;
  min-height: fit-content;
}

.view-box-chat {
  background-color: var(--fg-color);
  width: 42%;
  margin: 1vh auto;
  min-width: 300px;
  border-radius: 30px;
  min-height: 15em;
  aspect-ratio: 1/1;
  min-height: fit-content;
  position: relative;
}

.view-box-chat div {
  width: 100%;
}

.form-title {
  font-family: Monoton;
  margin-top: 0;
}

.form-label {
  font-family: Monoton;
}

.form-input {
  width: 50%;
  aspect-ratio: 6/1;
  border-radius: 15px;
  background-color: var(--bg-color);
  outline: none;
  border: none;
  color: var(--text-color);
  padding-left: 5%;
  margin: 2% auto;
}

.form-input[type="file"] {
  display: none;
}

.file-label {
  width: 55%;
  aspect-ratio: 6/1;
  border-radius: 15px;
  background-color: var(--bg-color);
  outline: none;
  border: none;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Monoton;
  font-size: x-large;
  margin: 8% auto;
}

.file-label:hover {
  filter: brightness(0.7);
  color: var(--accent-color1);
  cursor: pointer;
}

.cgu-section {
  display: flex;
  align-items: center;
  margin: 0 21%;
}

.nike-box {
  width: 1.5em;
  aspect-ratio: 1/1;
  background-color: var(--fg-color);
  border: solid var(--text-color) 1px;
}

.candidate-row {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
  margin-bottom: 3%;
  margin-right: 1%;
}
.candidate-row button {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Monoton;
  font-size: medium;
  border-radius: 15px;
  border: solid black 2px;
}

.candidate-row button:hover {
  filter: brightness(0.7);
  color: var(--accent-color1);
  cursor: pointer;
}

.text-left {
  text-align: left;
  padding-left: 10%;
  font-size: large;
}

.chat-bar {
  width: 98%;
  aspect-ratio: 10/1;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--accent-color1);
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: large;
  padding-left: 10px;
}

.message-bot, .message-user {
  width: fit-content;
  max-width: 70%;
  border-radius: 15px;
}

.message-bot {
  background-color: var(--special-color);
  margin-left: 5%;
  margin-right: 25%;
  text-align: left;
  padding-left: 5%;
}

.message-user {
  background-color: var(--accent-color2);
  margin-left: 25%;
  margin-right: 5%;
  text-align: right;
  padding-right: 1%;
}


@media screen and (max-width: 1200px) {
  .view-box {
    aspect-ratio: 1/2;
  }
  
  .view-box-chat {
    margin: 5% auto;
  }

  .chat-bar {
    width: 96%;
  }
}